title=Home
date=2018-08-04
type=page
tags=devlug
status=published
~~~~~~

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>
Herzlich Willkommen auf der Homepage der virtuellen Linux User Group.
	<img src="img/logos/vlug-only.png" width="100px"/>
  </p>
  <a class="btn btn-primary btn-lg" href="about.html" role="button">Über uns</a></p>
</div>

<!-- Mailingliste -->
<div class="alert alert-success" role="alert">
Die wichtigste Kommunikation läuft über unsere
  <a href="https://www.devlug.de/devlug/mailinglisten.html" class="alert-link">Mailinglisten</a>.
</div>

<!-- #devlug -->
<div class="alert alert-info" role="alert">
  Die nächste
  <a href="https://www.devlug.de/devlug/stammtisch.html" class="alert-link">#devlug</a>
  ist am Dienstag, 11.12.2018 um 20:30 Uhr.
</div>

<!-- devLUG-Session -->
<!--
<div class="alert alert-danger" role="alert">
Das nächste Thema der <a href="https://www.devlug.de/devlug/vlug-session.html">devLUG-Session</a> ist 
OpenPGP Card
</div>
-->


<br/>
<center>
<figure class="figure">
  <img src="img/devLUG-Titelbild.JPG" width="100%" class="figure-img img-fluid rounded" alt="Schreibtisch mit devLUG Füller">
  <figcaption class="figure-caption">devLUG</figcaption>
</figure>
</center>

